@import "variables";

body{
	background-color: azure;
}

.in-button {
	color: white;
	background-color: $primary-color;
	width: 150px;
	height: 50px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.in-label{
	display:flex;
	font-size: 14px
}

.in-input{
	color: red;
	border: 2px solid $primary-color;
	border-radius: 5px;
	padding: 5px;

}
.in-input:focus{
	outline: none;
}
