@import "variables";

body{
	background-color: azure;
}


.in-button {
	color: white;
	background-color: $primary-color;
	width: 200px;
	height: 50px;
}
.in-button2 {
	color: white;
	background-color: $test-2;
	width: 200px;
	height: 50px;
}

.form{
	width: 500px;
	height: 600px;
	background-color: aqua;
}

.inp{
	width: 150px;
}
